@media (max-width: 660px) {
  /* line 2, ../sass/_global.scss */
  .top-bar-right > .menu {
    display: none;
  }

  /* line 6, ../sass/_global.scss */
  .top-bar-right > a.navbar-button {
    display: block;
    color: #da0052;
    padding-top: .5rem;
    padding-right: 5rem;
    -webkit-transition: white 3s ease;
    -moz-transition: white 3s ease;
    -ms-transition: white 3s ease;
    -o-transition: white 3s ease;
    transition: white 3s ease;
  }

  /* line 14, ../sass/_global.scss */
  .top-bar-right > a.navbar-button:hover {
    color: #da0052;
  }

  /* line 18, ../sass/_global.scss */
  div.section-gallery {
    margin: 50px 100px 0;
  }
}
@media (max-width: 899px) {
  /* line 25, ../sass/_global.scss */
  .footer-invisible {
    width: auto !important;
  }

  /* line 29, ../sass/_global.scss */
  .top-bar-right > .menu {
    display: none;
  }

  /* line 33, ../sass/_global.scss */
  .top-bar-right > a.navbar-button {
    display: block;
    color: #da0052;
    padding-top: .5rem;
    padding-right: 5rem;
    -webkit-transition: white 3s ease;
    -moz-transition: white 3s ease;
    -ms-transition: white 3s ease;
    -o-transition: white 3s ease;
    transition: white 3s ease;
  }

  /* line 41, ../sass/_global.scss */
  .top-bar-right > a.navbar-button:hover {
    color: #da0052;
  }

  /* line 45, ../sass/_global.scss */
  div.section-gallery {
    margin: 50px 200px 0;
  }
}
/* line 50, ../sass/_global.scss */
body {
  margin: 0;
  height: 100%;
  padding: 0;
  background: white;
  color: #333333;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  min-width: 500px;
}

/* line 61, ../sass/_global.scss */
ul {
  list-style-type: none;
}

/* line 65, ../sass/_global.scss */
a {
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  cursor: pointer;
}

/* line 71, ../sass/_global.scss */
.row {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

/* line 77, ../sass/_global.scss */
.page {
  width: 100%;
}

/* line 81, ../sass/_global.scss */
.top-bar-background {
  position: fixed;
  height: 100px;
  height: 6.25rem;
  background-image: url("../img/header-background.png");
  background-position-y: 180px;
  background-size: cover;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 22px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: top 0.15s ease;
  -moz-transition: top 0.15s ease;
  -ms-transition: top 0.15s ease;
  -o-transition: top 0.15s ease;
  transition: top 0.15s ease;
}

/* line 96, ../sass/_global.scss */
.hide-top-bar {
  position: fixed;
  height: 100px;
  height: 6.25rem;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

/* line 105, ../sass/_global.scss */
.top-bar, .top-bar ul {
  width: auto;
  background-color: rgba(255, 255, 255, 0);
  padding: .5rem;
}

/* line 111, ../sass/_global.scss */
.navbar-button {
  display: none;
}

/* line 115, ../sass/_global.scss */
.top-bar > .top-bar-left {
  width: auto;
}

/* line 119, ../sass/_global.scss */
.top-bar > .top-bar-right {
  width: auto;
}
/* line 121, ../sass/_global.scss */
.top-bar > .top-bar-right a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: .08125rem;
  color: white;
}

/* line 130, ../sass/_global.scss */
.header-top {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
}

/* line 137, ../sass/_global.scss */
.header-bottom {
  color: #3ea5b3;
  background-image: url("../img/header-background.png");
  background-size: cover;
  height: 40rem;
  min-height: 25rem;
  max-height: calc(100vh - 72px);
}

/* line 146, ../sass/_global.scss */
.hero-inner {
  position: relative;
  height: 100%;
}

/* line 151, ../sass/_global.scss */
.hero-copy {
  display: inline-block;
  position: absolute;
  height: 30%;
  width: 100%;
  bottom: 0;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1rem;
  color: white;
  text-align: center;
  padding: 1rem 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 600px;
  transition: max-height .3s;
  font-family: Rockwell;
}

/* line 170, ../sass/_global.scss */
h1.title, h2.title {
  color: #028eeb;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -ms-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
  font: Helvetica, sans-serif;
}
/* line 173, ../sass/_global.scss */
h1.title:hover, h2.title:hover {
  color: white;
}

/* line 179, ../sass/_global.scss */
.content {
  display: block;
  margin: 0;
  background-color: white;
  max-width: 100%;
  padding: 0;
  margin-bottom: 6em;
  margin-top: 5em;
}

/* line 189, ../sass/_global.scss */
.mid-content {
  display: block;
  margin-right: 0%;
  width: 100%;
  color: #6e6e6e;
  padding: 2rem 0 0 2rem;
}
/* line 196, ../sass/_global.scss */
.mid-content h1, .mid-content h2 {
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
  text-transform: uppercase;
}
/* line 201, ../sass/_global.scss */
.mid-content p {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
  font-size: 35px;
  font-size: 2.1875rem;
}

/* line 207, ../sass/_global.scss */
nav {
  text-align: center;
}
/* line 210, ../sass/_global.scss */
nav .pagination {
  display: inline-flex;
}

/* line 215, ../sass/_global.scss */
.footer {
  background-size: 1.25rem;
  background-position: bottom center;
  text-align: center;
  font-family: Rockwell;
  color: white;
  background-color: #2896ea;
}

/* line 225, ../sass/_global.scss */
table.footer-navigation tbody {
  border: none;
  background-color: transparent;
}

/* line 231, ../sass/_global.scss */
.footer-invisible {
  float: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 30rem;
}

/* line 238, ../sass/_global.scss */
.footer-actions {
  float: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 244, ../sass/_global.scss */
.footer-unb {
  float: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 250, ../sass/_global.scss */
.copyright {
  padding-bottom: 1rem;
}

/* line 254, ../sass/_global.scss */
.social-icons {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-top: auto;
}
/* line 261, ../sass/_global.scss */
.social-icons li {
  padding-left: 10px;
}
/* line 264, ../sass/_global.scss */
.social-icons li a {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  line-height: 5.5rem;
  text-align: center;
  font-size: 1rem;
  color: white;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 275, ../sass/_global.scss */
.social-icons li a:hover {
  color: transparent;
  background-color: white;
}
/* line 279, ../sass/_global.scss */
.social-icons li a:hover .icon {
  color: #2896ea;
}

/* line 286, ../sass/_global.scss */
h1.mid, h2.mid {
  text-align: center;
}

/* line 290, ../sass/_global.scss */
table {
  text-align: center;
}
/* line 293, ../sass/_global.scss */
table tbody {
  border: none;
}
/* line 297, ../sass/_global.scss */
table .name {
  padding-bottom: 15px;
  font-size: 40px;
  font-size: 2.5rem;
  font-family: Rockwell;
}
/* line 303, ../sass/_global.scss */
table .adjust {
  max-width: 250px;
  max-height: 250px;
  width: auto;
  height: auto;
}
/* line 310, ../sass/_global.scss */
table .desc {
  padding-top: 15px;
  font-size: 25px;
  font-size: 1.5625rem;
  font-family: Rockwell;
}

/* line 317, ../sass/_global.scss */
img[src=""] {
  display: none;
}

/* line 321, ../sass/_global.scss */
table.events {
  text-align: center;
}
/* line 324, ../sass/_global.scss */
table.events .event {
  padding-right: 5em;
}

/* line 329, ../sass/_global.scss */
.section-gallery {
  margin: 50px 300px 0 300px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: .08125rem;
}
/* line 337, ../sass/_global.scss */
.section-gallery .i-block {
  display: block;
}
/* line 341, ../sass/_global.scss */
.section-gallery .i-g-left {
  float: left;
}
/* line 345, ../sass/_global.scss */
.section-gallery .i-g-right {
  float: right;
}

/* line 350, ../sass/_global.scss */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* line 359, ../sass/_global.scss */
.dropdown {
  display: inline-block;
  position: relative;
}

/* line 364, ../sass/_global.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(249, 249, 249, 0);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* line 373, ../sass/_global.scss */
.dropdown-content a {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

/* line 380, ../sass/_global.scss */
.dropdown-content a:hover {
  background-color: #2896ea;
}

/* line 382, ../sass/_global.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

/* line 386, ../sass/_global.scss */
.dropdown:hover .dropbtn {
  background-color: #3E8E41;
}
