/* line 79, ../sass/_mixins.scss */
.container-with-floated-children {
  zoom: 1;
}
/* line 81, ../sass/_mixins.scss */
.container-with-floated-children:before, .container-with-floated-children:after {
  display: table;
  content: " ";
}
/* line 85, ../sass/_mixins.scss */
.container-with-floated-children:after {
  clear: both;
}

/* line 90, ../sass/_mixins.scss */
.hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@-ms-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@-o-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
/* line 11, ../sass/_global.scss */
body {
  margin: 0;
  height: 100%;
  padding: 0;
  background: white;
  color: #333333;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
}

/* line 21, ../sass/_global.scss */
ul {
  list-style-type: none;
}

/* line 25, ../sass/_global.scss */
.page {
  width: 100%;
  overflow: hidden;
}

/* line 30, ../sass/_global.scss */
.top-bar-background {
  position: fixed;
  height: 100px;
  height: 6.25rem;
  background-image: url("../img/header-background.png");
  background-position-y: 180px;
  background-size: cover;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 22px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: top 0.15s ease;
  -moz-transition: top 0.15s ease;
  -ms-transition: top 0.15s ease;
  -o-transition: top 0.15s ease;
  transition: top 0.15s ease;
}

/* line 45, ../sass/_global.scss */
.hide-top-bar {
  top: -40px;
}

/* line 49, ../sass/_global.scss */
.top-bar, .top-bar ul {
  width: auto;
  background-color: rgba(255, 255, 255, 0);
  padding: .5rem;
}

/* line 55, ../sass/_global.scss */
.top-bar-right {
  width: auto;
}
/* line 57, ../sass/_global.scss */
.top-bar-right a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: .08125rem;
  color: white;
}

/* line 66, ../sass/_global.scss */
.header-top {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
}

/* line 73, ../sass/_global.scss */
.header-bottom {
  color: #3ea5b3;
  background-image: url("../img/header-background.png");
  background-size: cover;
  height: 40rem;
  min-height: 25rem;
  max-height: calc(100vh - 72px);
}

/* line 82, ../sass/_global.scss */
.row {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

/* line 88, ../sass/_global.scss */
.hero-inner {
  position: relative;
  height: 100%;
}

/* line 93, ../sass/_global.scss */
.hero-copy {
  display: inline-block;
  position: absolute;
  height: 30%;
  width: 100%;
  bottom: 0;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1rem;
  color: white;
  text-align: center;
  padding: 1rem 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 600px;
  transition: max-height .3s;
  font-family: Rockwell;
}

/* line 120, ../sass/_global.scss */
a {
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  cursor: pointer;
}

/* line 126, ../sass/_global.scss */
h1.title {
  color: #028eeb;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -ms-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
  font: Helvetica, sans-serif;
}
/* line 129, ../sass/_global.scss */
h1.title:hover {
  color: white;
}

/* line 136, ../sass/_global.scss */
h2 {
  color: #028eeb;
}

/* line 144, ../sass/_global.scss */
.content {
  display: block;
  margin: 0;
  background-color: white;
  max-width: 100%;
  padding: 0;
}

/* line 152, ../sass/_global.scss */
.mid-content {
  display: block;
  margin-right: 0%;
  width: 100%;
  color: #6e6e6e;
  padding: 2rem 0 0 2rem;
}
/* line 159, ../sass/_global.scss */
.mid-content h1 {
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
  text-transform: uppercase;
}
/* line 164, ../sass/_global.scss */
.mid-content .we-are-desc {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
  font-size: 35px;
  font-size: 2.1875rem;
}

/* line 170, ../sass/_global.scss */
.footer {
  background-size: 1.25rem;
  background-position: bottom center;
  text-align: center;
  font-family: Rockwell;
  color: white;
  background-color: #2896ea;
}

/* line 179, ../sass/_global.scss */
.footer-actions {
  float: right;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 185, ../sass/_global.scss */
.footer-unb {
  float: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 191, ../sass/_global.scss */
.copyright {
  padding-bottom: 1rem;
}

/* line 195, ../sass/_global.scss */
.social-icons {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-top: auto;
}
/* line 202, ../sass/_global.scss */
.social-icons li a {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  line-height: 5.5rem;
  text-align: center;
  font-size: 1rem;
  color: white;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 213, ../sass/_global.scss */
.social-icons li a:hover {
  color: transparent;
  background-color: white;
}
/* line 217, ../sass/_global.scss */
.social-icons li a:hover .icon {
  color: #2896ea;
}

/* line 223, ../sass/_global.scss */
.icon {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
