@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  // background: rgba(255, 255, 255, 0);
  // @include animation('slide-down 5s 3');
}

body {
  margin: 0;
  height: 100%;
  padding: 0;
  background: $background-color;
  color: $primary-color;
  font-family: $font-stack;
  line-height: 1.5;
 }

.top-bar, .top-bar ul {
  width: auto;
  background-color: rgba(255, 255, 255, 0);
  padding: .5rem;
}

.top-bar-right {
  width: auto;
  a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: .08125rem;
    color: $base-white;
  }
}

.header-top {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 0;
}

.header-bottom {
  color: rgb(62, 165, 179);
  background-image: url('../img/header-background.png');
  background-size: cover;
  height: 40rem;
  min-height: 25rem;
  max-height: calc(100vh - 72px);
}

.row {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-inner {
  position: relative;
  height: 100%;
}

.hero-copy {
  display: inline-block;
  position: absolute;
  height: 30%;
  width: 100%;
  bottom: 0;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1rem;
  color: $base-white;
  text-align: center;
  padding: 1rem 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 600px;
  transition: max-height .3s;
  font-family: Rockwell;
}

.container-with-floated-children {
  @extend %clearfix;
}

// p {
//   @include font-size(14px)
// }

a {
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  cursor: pointer;
}

h1.title {
  color: $link-color;
  @include transition(color .15s ease);
  &:hover {
    color: white;
  }
  // color: $primary-color;
  font: $font-stack;
}

h2 {
  color: $link-color;
}

.hidden {
  @extend %visuallyhidden;
}

// .sidebar {
//   @include bp-small {
//     margin: $no-margin;
//     width: 100%;
//     float: none;
//   }
//   margin: $litte-margin;
//   width: 60%;
//   float: left;
// }

// div {
//   container {
//     background-color: $background-color;
//     color: $primary-color;
//     width: 100%;
//   }
// }

// .page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
// padding: 0.8em; background: white; }
// .entries        { list-style: none; margin: 0; padding: 0; }
// .entries li     { margin: 0.8em 1.2em; }
// .entries li h2  { margin-left: -1em; }
// .add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
// .add-entry dl   { font-weight: bold; }
// .metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
//                   margin-bottom: 1em; background: #fafafa; }
// .flash          { background: #CEE5F5; padding: 0.5em;
//                   border: 1px solid #AACBE2; }
// .error { background: #F0D6D6; padding: 0.5em; }
