$font-stack:  Helvetica, sans-serif;
$primary-color:  rgb(51, 51, 51);
$background-color: rgb(238, 238, 238);
$base-strong-pink: rgb(218, 0, 82);
$base-soft-pink: rgb(243, 198, 250);
$base-blue: rgb(40, 150, 234);
$link-color: rgb(55, 123, 168);
$no-margin: 0;
$litte-margin: 0 2% 0 0;
