{% extends "home.html" %}
{% block body %}
  <div class="mid-content">
    <div class="row">
      <h1 class="header">Contatos</h1>
      <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> Coordenadora: Maristela</p>
      <p><i class="fa fa-phone" aria-hidden="true"></i> Telefone: 3107 6390</p>
      <p><i class="fa fa-envelope-o" aria-hidden="true"></i> E-mail: mholanda@unb.br</p>
      <p><i class="fa fa-envelope-o" aria-hidden="true"></i> E-mail do Projeto: meninas@cic.unb.br</p>
    </div>
  </div>
{% endblock %}
