{% extends "home.html" %}
{% block body %}
  <div class="mid-content">
    <div class="row">
      <h1 class="header mid">Eventos</h1>
      <table class="events">
        <tr>
          <td class="event">
            <a href="http://semanact.mcti.gov.br/programacao?p_auth=3AiuzkYl&p_p_id=pesquisarregistros_WAR_semanact2016portlet&p_p_lifecycle=1&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_pesquisarregistros_WAR_semanact2016portlet_instituicaoId=23606&_pesquisarregistros_WAR_semanact2016portlet_javax.portlet.action=carregarInstituicao">
              <img class="adjust" src="static/img/snct.png" alt="Semana Nacional de Ciência e Tecnologia 2016">
              <table class="date-desc">
                <tr>
                  <td class="date">
                    <div class="month">NOV</div>
                    <div class="date">09</div>
                  </td>
                  <td class="desc">
                    Semana Nacional de Ciência e Tecnologia 2016
                  </td>
                </tr>
              </table>
            </a>
          </td>

          <td class="event">
            <a href="https://www.facebook.com/events/155608661252171/">
              <img class="adjust" src="static/img/debate.png" alt="Mesa de Debate - Mulheres na Computação">
              <table class="date-desc">
                <tr>
                  <td class="date">
                    <div class="month">OCT</div>
                    <div class="date">24</div>
                  </td>
                  <td class="desc">
                    Mesa de Debate - Mulheres na Computação
                  </td>
                </tr>
              </table>
            </a>
          </td>

          <td class="event">
            <a href="https://www.facebook.com/events/480115458676033/">
              <img class="adjust" src="static/img/snct.png" alt="Semana Nacional de Ciência e Tecnologia 2012">
              <table class="date-desc">
                <tr>
                  <td class="date">
                    <div class="month">OCT</div>
                    <div class="date">15</div>
                  </td>
                  <td class="desc">
                    Semana Nacional de Ciência e Tecnologia 2012
                  </td>
                </tr>
              </table>
            </a>
          </td>

        </tr>
      </table>
    </div>
  </div>
{% endblock %}
