{% extends "home.html" %}
{% block body %}
  <div class="mid-content">
    <div class="row">
      <h1 class="header mid">Galeria</h1>
      <div class="section-gallery">
        <p>
          <div class="i-g-left">
            <a href="{{ url_for('gallery.photosPageOne') }}"><i class="fa fa-picture-o fa-5x i-block" aria-hidden="true"></i>
            Fotos</a>
          </div>
          <div class="i-g-right">
            <a href="{{ url_for('gallery.videosPageOne') }}"><i class="fa fa-youtube fa-5x i-block" aria-hidden="true"></i>
            Vídeos</a>
          </div>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
