{% extends "home.html" %}
{% block body %}
  <div class="mid-content">
    <div class="row">
      <h1 class="header mid">Menu</h1>
      <h2 class="header mid"><a href="{{ url_for('general.weAre') }}">Projeto</a></h2>
      <h2 class="header mid"><a href="{{ url_for('general.events') }}">Eventos</a></h2>
      <h2 class="header mid">
        <a href="{{ url_for('gallery.photosPageOne') }}">Fotos</a>
      </h2>
      <h2 class="header mid">
        <a href="{{ url_for('gallery.videosPageOne') }}">Vídeos</a>
      </h2>
      <h2 class="header mid"><a href="{{ url_for('general.contact') }}">Contato</a></h2>
    </div>
  </div>
{% endblock %}
