{% extends "home.html" %}
{% block body %}
  <div class="mid-content">
    <div class="we-are-text row">
      <h1 class="we-are-header">Meninas nas Computação</h1>
        <p class="we-are-desc">Projeto idealizado por professoras do Departamento de Ciência da Computação da Universidade de Brasília que fomenta inclusão de meninas de escolas públicas do Distrito Federal através de projetos que estimulam esse público a ingressar em cursos que possuem um público majoritariamente masculino.</p>
    </div>
  </div>
  <div class="mid-content chart">
    <div class="we-are-text row">
      <h1 class="we-are-header">Problema</h1>
          <p class="we-are-desc">Projeto idealizado por professoras do Departamento de Ciência da Computação da Universidade de Brasília que fomenta inclusão de meninas de escolas públicas do Distrito Federal através de projetos que estimulam esse público a ingressar em cursos que possuem um público majoritariamente masculino.</p>
    </div>
  </div>
  <div class="mid-content chart">
    <div class="we-are-text row">
      <h1 class="we-are-header">Problema</h1>
          <p class="we-are-desc">Projeto idealizado por professoras do Departamento de Ciência da Computação da Universidade de Brasília que fomenta inclusão de meninas de escolas públicas do Distrito Federal através de projetos que estimulam esse público a ingressar em cursos que possuem um público majoritariamente masculino.</p>
    </div>
  </div>
  <div class="mid-content chart">
    <div class="we-are-text row">
      <h1 class="we-are-header">Problema</h1>
          <p class="we-are-desc">Projeto idealizado por professoras do Departamento de Ciência da Computação da Universidade de Brasília que fomenta inclusão de meninas de escolas públicas do Distrito Federal através de projetos que estimulam esse público a ingressar em cursos que possuem um público majoritariamente masculino.</p>
    </div>
  </div>
{% endblock %}
